<div class="container">
  <h1>Productos</h1>

  <a class="btn" href="/products/new">Nuevo Producto</a>

  <ul class="product-list">
    <% @products.each do |product| %>
      <li class="product-card">
        <div class="product-info">
          <strong><%= product.name %></strong>

          <span>Precio: <%= product.price %></span>
          <span>Stock: <%= product.stock %></span>
        </div>

        <div class="product-actions">
          <a href="/products/<%= product.id %>">Ver</a>
          <a href="/products/<%= product.id %>/edit">Editar</a>

          <%= button_to "Eliminar",
              "/products/#{product.id}",
              method: :delete,
              class: "btn btn-danger",
              data: { turbo_confirm: "¿Seguro que quieres eliminar este producto?" } %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<!--Depende del controlador index-->